[submodule "nvim/.config/nvim/pack/remote/start/vim-unimpaired"]
	path = nvim/.config/nvim/pack/remote/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "nvim/.config/nvim/pack/remote/start/vim-bufkill"]
	path = nvim/.config/nvim/pack/remote/start/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
[submodule "nvim/.config/nvim/pack/remote/opt/vim-lsc"]
	path = nvim/.config/nvim/pack/remote/opt/vim-lsc
	url = https://github.com/natebosch/vim-lsc
[submodule "nvim/.config/nvim/pack/remote/start/lightline.vim"]
	path = nvim/.config/nvim/pack/remote/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "nvim/.config/nvim/pack/remote/opt/ale"]
	path = nvim/.config/nvim/pack/remote/opt/ale
	url = https://github.com/w0rp/ale
[submodule "nvim/.config/nvim/pack/remote/start/asyncrun.vim"]
	path = nvim/.config/nvim/pack/remote/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "nvim/.config/nvim/pack/remote/start/gruvbox"]
	path = nvim/.config/nvim/pack/remote/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "nvim/.config/nvim/pack/remote/start/targets.vim"]
	path = nvim/.config/nvim/pack/remote/start/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "nvim/.config/nvim/pack/remote/start/tcomment_vim"]
	path = nvim/.config/nvim/pack/remote/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "nvim/.config/nvim/pack/remote/start/vim-better-whitespace"]
	path = nvim/.config/nvim/pack/remote/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "nvim/.config/nvim/pack/remote/start/vim-fugitive"]
	path = nvim/.config/nvim/pack/remote/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/.config/nvim/pack/remote/start/vim-indent-guides"]
	path = nvim/.config/nvim/pack/remote/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "nvim/.config/nvim/pack/remote/start/vim-mucomplete"]
	path = nvim/.config/nvim/pack/remote/start/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete
[submodule "nvim/.config/nvim/pack/remote/start/vim-wordmotion"]
	path = nvim/.config/nvim/pack/remote/start/vim-wordmotion
	url = https://github.com/chaoren/vim-wordmotion
[submodule "nvim/.config/nvim/pack/remote/opt/vim-altr"]
	path = nvim/.config/nvim/pack/remote/opt/vim-altr
	url = https://github.com/kana/vim-altr
[submodule "nvim/.config/nvim/pack/remote/opt/vim-autoformat"]
	path = nvim/.config/nvim/pack/remote/opt/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "nvim/.config/nvim/pack/remote/opt/vim-cpp-enhanced-highlight"]
	path = nvim/.config/nvim/pack/remote/opt/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "nvim/.config/nvim/pack/remote/start/vim-bash-completion"]
	path = nvim/.config/nvim/pack/remote/start/vim-bash-completion
	url = https://github.com/rantasub/vim-bash-completion
[submodule "nvim/.config/nvim/pack/remote/opt/lightline-ale"]
	path = nvim/.config/nvim/pack/remote/opt/lightline-ale
	url = https://github.com/maximbaz/lightline-ale
