[submodule "nvim/.config/nvim/pack/remote/start/vim-unimpaired"]
	path = nvim/.config/nvim/pack/remote/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "nvim/.config/nvim/pack/remote/start/vim-bufkill"]
	path = nvim/.config/nvim/pack/remote/start/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
