[submodule "nvim/.config/nvim/pack/remote/start/vim-unimpaired"]
	path = nvim/.config/nvim/pack/remote/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "nvim/.config/nvim/pack/remote/start/vim-bufkill"]
	path = nvim/.config/nvim/pack/remote/start/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
[submodule "nvim/.config/nvim/pack/remote/opt/vim-lsc"]
	path = nvim/.config/nvim/pack/remote/opt/vim-lsc
	url = https://github.com/natebosch/vim-lsc
[submodule "nvim/.config/nvim/pack/remote/start/lightline.vim"]
	path = nvim/.config/nvim/pack/remote/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "nvim/.config/nvim/pack/remote/start/lightline-gruvbox.vim"]
	path = nvim/.config/nvim/pack/remote/start/lightline-gruvbox.vim
	url = https://github.com/shinchu/lightline-gruvbox.vim
